.body {
    border: none;
    margin: 0px;
    position: relative;
}

.nav-bar {
    list-style-type: none;
    padding: none;
    margin: 0px;
    background-color:black;
    border: none;
    width: 100%;
    height: 80px;
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    z-index: 100;
}  

.loginlogo {
    height: 100%;
}

.logo {
    height: 100%;
    vertical-align: center;
}    

.schrift {
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login {
    margin-left: auto;
    margin-right: 20px;
}

.nav-item {
    display: flex;
    justify-content: center;
    vertical-align: center;
    flex-grow: 0;
}

.nav-item.nav-image-container {
    height: 100%;
}

.nav-item img {
    display: inline-block;
}

.nav-item p {
    margin: 0;
}



.bandlogo {
    position: relative;
}

.band, .band1, .band2, .band3, .band4, .band5, .band6, .band7 {
    width: 100%;
    height: auto;
}

.register {
    position: absolute;
    text-decoration: none;
    display: inline-block;
    width: 20vw;
    bottom: 7vw;
    left: 7vw;
}

@media  (max-width: 1086px) {
    .band {
        display: none;
    }
}

.register img {
    width: 100%;
    display: block;
    border: none;
    margin: 0;
    padding: 0;
}

.text1 {
    top: 120%;
    left: 10%;
    font-family: 'Times New Roman', Times, serif;
    flex-direction: column;
    text-align: justify;
    justify-content: left;
    align-items: left;
    position: absolute;
    display: flex;
}

.h1 {
    font-size: 60px;
    display: flex;
    justify-content: left;
}

.text2{
    font-size: 20px;
    line-height: 40px;
}

.box { 
    background:rgba(19, 19, 19, 0.7);
    text-align: center;
    position: absolute;
    text-decoration: none;
    display: inline-block;
    width: 60vw;
    left: 20vw;
    top: 20vh;
    max-height: 80%;
}

@media  (max-width: 1078px) {
    .band3 {
        display: none;
    }
}

@media  (max-width: 980px) {
    .band4 {
        display: none;
    }
}

@media  (max-width: 1180px) {
    .band5 {
        display: none;
    }
}

@media  (max-width: 865px) {
    .band6 {
        display: none;
    }
}

@media  (max-width: 796px) {
    .band7 {
        display: none;
    }
}

.box input[type = "text"], .box input[type = "Password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0,25s;
}

.box h1 {
    color: white;
    font-weight: 500;
}

.box input[type = "text"]:focus, .box input[type = "Password"]:focus{
    width: 280px;
    border-color: #2ecc71;
}

.box input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0,25s;
    cursor: pointer;
}

.box input[type = "submit"]:hover{
    background: #2ecc71;
}

@media  (max-width: 770px) {
    .buttons {
        background-color: rgba(19, 19, 19, 0.7);
        padding: 5px;
    }
}

.box-anmeldung { 
    background:rgba(19, 19, 19, 0.7);
    text-align: center;
    position: absolute;
    text-decoration: none;
    display: inline-block;
    width: 60vw;
    left: 20vw;
    top: 6vw;
    max-height: 80%;
}

.box-anmeldung input[type = "text"], .box-anmeldung input[type = "Password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 20vw;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0,25s;
}

.box-anmeldung h1 {
    color: white;
}

.box-anmeldung input[type = "text"]:focus, .box-anmeldung input[type = "Password"]:focus{
    width: 28vw;
    border-color: #2ecc71;
}

.box-anmeldung input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0,25s;
    cursor: pointer;
}

.box-anmeldung input[type = "submit"]:hover{
    background: #2ecc71;
}

.box-anmeldung1 { 
    background:rgba(19, 19, 19, 0.7);
    text-align: center;
    position: absolute;
    text-decoration: none;
    display: inline-block;
    width: 60vw;
    left: 20vw;
    top: 10%;
    /*max-height: 80%;*/
    margin: 0px;
}

.box-anmeldung1 input[type = "text"], .box-anmeldung1 input[type = "Password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 20vw;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0,25s;
}

.box-anmeldung1 h1 {
    color: white;
}

.box-anmeldung1 input[type = "text"]:focus, .box-anmeldung1 input[type = "Password"]:focus{
    width: 28vw;
    border-color: #2ecc71;
}

.box-anmeldung1 input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0,25s;
    cursor: pointer;
}

.box-anmeldung1 input[type = "submit"]:hover{
    background: #2ecc71;
}

.info {
    width: 60vw;
    padding: 0px;
    position: absolute;
    margin-top: 10px;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background:rgba(19, 19, 19, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.info1 {
    width: 60vw;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:rgba(19, 19, 19, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.choose {
    color: white;
    font-size: 30px;
    text-decoration: underline;
}

.instrument-form {
    color: white;
}

.instrument-form input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 0px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0,25s;
    cursor: pointer;
}

.instrument-form input[type = "submit"]:hover{
    background: #2ecc71;
}

.circle{
	margin: 70px auto;
	width: 40px;
	height: 40px;
	border: 5px solid #2ecc71;
	border-radius: 50%;
	border-top-color: #fff;
	animation: spin 1s linear infinite;
}
@Keyframes spin{
	100%{
		transform: rotate(360deg);
	}
}

.Impressum {
    position: relative;
    align-content: center;
    font-size: 15px;
    top: 70px;
    left: 17vw;
    text-align: center;
}